

<div class="container">
       
        <a  class="text-right buttons" routerLink="/home1" class="btn btn">Home</a>
        
        
<hr>


 
<hr>

    <div class="row">
        <ng-container *ngFor="let product of products | filter:searchkey:'propertylocation'">
            <div class="card col-md-3">
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">vender Name :- {{product.userName}}  </h6>
                <img src="../../assets/{{product.propertyImage}}" alt="">
                <h4 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{product.propertyName}}</h4>
                <h6 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">With size of {{product.propertySize}} sq/ft </h6>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Description:-{{product.propertyDescription}}</p>
                <p><strong>Price:</strong> ${{product.propertyPrice}}</p>
                <p><strong>Discount :- </strong> At ${{product.discount}} %</p>
                <p><strong>image name:</strong> {{product.propertyImage}}</p>
                <img src="../../assets/icons/location.png" width="20"> <span class="guarantee">#{{product.propertylocation}}</span>
                <a  class="nav-link" (click)="buy(product)" routerLink="/cart" class="btn btn-primary">BooK Now...!</a>
            </div>
           
        </ng-container>
        
    </div>
</div>



