<!--<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<div class="container-fluid">

    <body>
        <div style="background: url(../../assets/background.jpg)" class="jumbotron bg-cover text-white">
            <div class="container py-5 text-center">
                <h1 class="display-4 font-weight-bold">Find your dream home here</h1>
                <p class="font-italic mb-0">Luxurious Flats, Bunglows, Row Houses are available in affordable price</p>
                <p class="font-italic">Contact us
                    <a href="" class="text-white">
                        <u>XYZ</u>
                    </a>
                </p>
            
            </div>
        </div>

        <p></p>
  
        <div class="container py-5">
            <h2 class="h3 font-weight-bold">Some demo content</h2>
            <div class="row">
                <div class="col-lg-10 mb-4">
                    <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor.</p>
                    <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
                        dolor.</p>
                </div>
                <div class="col-lg-8">
                    <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur <strong
                            class="font-weight-bold text-dark">adipisicing elit, sed </strong>do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in <strong
                            class="font-weight-bold text-dark">reprehenderit in voluptate </strong>velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                        qui officia deserunt mollit anim id est laborum.</p>
                </div>
            </div>
        </div>
    </body>
</div>


<div class="container-fluid mt-2 mb-5">
    <div>
        <div class="tab-pane fade show active">
            <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center"> <span
                    class="font-weight-bold text-uppercase">Luxurious Home</span>
            </div>
            <div class="row g-3">
                <div class="col-md-4">
                    <div class="card"> <img src="../../assets/cards/card1.jpg" class="card-img-top">
                        <div class="card-body">
                            <div class="d-flex justify-content-between"> <span class="font-weight-bold">Living room
                                    with elegant looks of white and cosy dark combination furniture</span> <span
                                    class="font-weight-bold">$550</span> </div>
                            <p class="card-text mb-1 mt-1">Luxurious 2BHK with 24*7 hours water and
                                electricity availablity</p>
                            <div class="d-flex align-items-center flex-row"> <img src="../../assets/icons/location.png"
                                    width="20"> <span class="guarantee">#MUmbai</span> </div>
                        </div>
                       
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card"> <img src="../../assets/cards/card2.jpg" class="card-img-top">
                        <div class="card-body">
                            <div class="d-flex justify-content-between"> <span class="font-weight-bold">Living room
                                    with elegant looks of white and cosy colours furniture</span> <span
                                    class="font-weight-bold">$600</span> </div>
                            <p class="card-text mb-1 mt-1">Luxurious 3BHK with 24*7 hours water and
                                electricity availablity</p>
                            <div class="d-flex align-items-center flex-row"> <img src="../../assets/icons/location.png"
                                    width="20"> <span class="guarantee">#Goa</span> </div>
                        </div>
                        
                        
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card"> <img src="../../assets/cards/card3.jpg" class="card-img-top">
                        <div class="card-body">
                            <div class="d-flex justify-content-between"> <span
                                    class="font-weight-bold">Speciality-Dinning room
                                    of garden facing and glass door</span> <span class="font-weight-bold">$1,000</span>
                            </div>
                            <p class="card-text mb-1 mt-1">Luxurious 4BHK with 24*7 hours water and
                                electricity availablity</p>
                            <div class="d-flex align-items-center flex-row"> <img src="../../assets/icons/location.png"
                                    width="20"> <span class="guarantee">#Haidrabad</span> </div>
                        </div>
                       
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card"> <img src="../../assets/cards/card4.jpg" class="card-img-top">
                        <div class="card-body">
                            <div class="d-flex justify-content-between"> <span class="font-weight-bold">Living room
                                    & modular Kitchen with elegant looks of wooden furniture</span> <span
                                    class="font-weight-bold">$850</span> </div>
                            <p class="card-text mb-1 mt-1">Luxurious 2BHK with 24*7 hours water and
                                electricity availablity</p>
                            <div class="d-flex align-items-center flex-row"> <img src="../../assets/icons/location.png"
                                    width="20"> <span class="guarantee">#Lahor</span> </div>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card"> <img src="../../assets/cards/card5.jpg" class="card-img-top">
                        <div class="card-body">
                            <div class="d-flex justify-content-between"> <span class="font-weight-bold"> Living room
                                    & dinning facilities with modern amenities</span> <span
                                    class="font-weight-bold">$15,50</span> </div>
                            <p class="card-text mb-1 mt-1">Luxurious 2BHK with 24*7 hours water and
                                electricity availablity</p>
                            <div class="d-flex align-items-center flex-row"> <img src="../../assets/icons/location.png"
                                    width="20"> <span class="guarantee">#Chenai</span> </div>
                        </div>
                        
                        
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card"> <img src="../../assets/cards/card6.jpg" class="card-img-top">
                        <div class="card-body">
                            <div class="d-flex justify-content-between"> <span class="font-weight-bold"> Modular
                                    Living room & dinning facilities with glass windows for top view of building
                                </span> <span class="font-weight-bold">$550</span> </div>
                            <p class="card-text mb-1 mt-1">Luxurious 4BHK with 24*7 hours water and
                                electricity availablity</p>
                            <div class="d-flex align-items-center flex-row"> <img src="../../assets/icons/location.png"
                                    width="20"> <span class="guarantee">#pune</span> </div>
                        </div>
                        
                        
                    
                </div>
            </div>
           
        </div>
    </div>
</div>-->


<div class="container-fluid">

    <body>
        <div style="background: url(../../assets/background.jpg)" class="jumbotron bg-cover text-white">
            <div class="container py-5 text-center">
                <h1 class="display-4 font-weight-bold">Find your dream home here</h1>
                <p class="font-italic mb-0">Luxurious Flats, Bunglows, Row Houses are available in affordable price</p>
                <p class="font-italic">Contact us
                    <a class="text-white">
                        <u>Support@housebook.com</u>
                    </a>
                </p>
                <!-- <div class="col-md-13">
    <div class="d-flex form-inputs">
    <input class="form-control" type="text" placeholder="Search for location...">
    <i class="bx bx-search"></i>
    </div>
    </div> -->
            </div>
        </div>
        <!-- For addvertisment Purpose -->
        <div class="container py-5">
            <h2 class="h3 font-weight-bold">About Us</h2>
            <div class="row">
                <div class="col-lg-10 mb-4">
                    <p class="font-italic text-muted">At ‘E-HouseBooking’, we remove the worry from owning venture
                        flats in India. Our administrations are planned so your job as proprietor is to take a
                        load off. We will deal with all this for you.</p>
                    <p class="font-italic text-muted">We are pros in the field of the booking and owning of houses.
                        Our administration business was established on the standards of diligent work, honesty,
                        obligation, responsibility, and straightforwardness.</p>
                </div>
                <div class="col-lg-8">
                    <p class="font-italic text-muted">At ‘E-HouseBooking’,we
                        trust that by working intimately with <strong class="font-weight-bold text-dark">our customers
                            to recognize their individual needs and
                            objectives </strong> we can convey better an incentive to their speculations with the
                        certainty and
                        security to rest guaranteed that their best advantages are by and large very much <strong
                            class="font-weight-bold text-dark">served by a
                            group of experienced experts.</strong>At ‘E-HouseBooking’ we take a gigantic measure of
                        pride in an
                        occupation well done and our customers’ objective accomplished. Call us! We anticipate working
                        with you.</p>
                </div>
            </div>
        </div>
    </body>
</div>
<div class="container-fluid mt-2 mb-5">
    <div>
        <div class="tab-pane fade show active">
            <div class="d-flex justify-content-between p-3 bg-white mb-3 align-items-center"> <span
                    class="font-weight-bold text-uppercase">Luxurious Home</span>
            </div>
            <div class="row g-3">
                <div class="col-md-4">
                    <div class="card"> <img src="../../assets/cards/card1.jpg" class="card-img-top">
                        <div class="card-body">
                            <div class="d-flex justify-content-between"> <span class="font-weight-bold">Living room
                                    with elegant looks of white and cosy dark combination furniture</span> <span
                                    class="font-weight-bold">568967</span> </div>
                            <p class="card-text mb-1 mt-1">Luxurious 2BHK with 24*7 hours water and
                                electricity availablity</p>
                            <p class="card-text mb-1 mt-1">By- Signature Global</p>
                            <div class="d-flex align-items-center flex-row"> <img src="../../assets/icons/location.png"
                                    width="20"> <span class="guarantee">Mumbai</span> </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="text-right buttons"> <button class="btn btn-dark" routerLink="/login">Book
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card"> <img src="../../assets/cards/card2.jpg" class="card-img-top">
                        <div class="card-body">
                            <div class="d-flex justify-content-between"> <span class="font-weight-bold">Living room
                                    with elegant looks of white and cosy colours furniture</span> <span
                                    class="font-weight-bold">375565</span> </div>
                            <p class="card-text mb-1 mt-1">Luxurious 3BHK with 24*7 hours water and
                                electricity availablity</p>
                            <p class="card-text mb-1 mt-1">By- Godrej Properties</p>
                            <div class="d-flex align-items-center flex-row"> <img src="../../assets/icons/location.png"
                                    width="20"> <span class="guarantee">Pune</span> </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="text-right buttons"> <button class="btn btn-dark" routerLink="/login">Book
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card"> <img src="../../assets/cards/card3.jpg" class="card-img-top">
                        <div class="card-body">
                            <div class="d-flex justify-content-between"> <span
                                    class="font-weight-bold">Speciality-Dinning room
                                    of garden facing and glass door</span> <span class="font-weight-bold">888999</span>
                            </div>
                            <p class="card-text mb-1 mt-1">Luxurious 4BHK with 24*7 hours water and
                                electricity availablity</p>
                            <p class="card-text mb-1 mt-1">By- Mahindra Lifespaces</p>
                            <div class="d-flex align-items-center flex-row"> <img src="../../assets/icons/location.png"
                                    width="20"> <span class="guarantee">Delhi</span> </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="text-right buttons"> <button class="btn btn-dark" routerLink="/login">Book
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card"> <img src="../../assets/cards/card4.jpg" class="card-img-top">
                        <div class="card-body">
                            <div class="d-flex justify-content-between"> <span class="font-weight-bold">Living room
                                    & modular Kitchen with elegant looks of wooden furniture</span> <span
                                    class="font-weight-bold">788899</span> </div>
                            <p class="card-text mb-1 mt-1">Luxurious 2BHK with 24*7 hours water and
                                electricity availablity</p>
                            <p class="card-text mb-1 mt-1">By- Ozone Group</p>
                            <div class="d-flex align-items-center flex-row"> <img src="../../assets/icons/location.png"
                                    width="20"> <span class="guarantee">Mumbai</span> </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="text-right buttons"> <button class="btn btn-dark" routerLink="/login">Book
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card"> <img src="../../assets/cards/card5.jpg" class="card-img-top">
                        <div class="card-body">
                            <div class="d-flex justify-content-between"> <span class="font-weight-bold"> Living room
                                    & dinning facilities with modern amenities</span> <span
                                    class="font-weight-bold">123332</span> </div>
                            <p class="card-text mb-1 mt-1">Luxurious 2BHK with 24*7 hours water and
                                electricity availablity</p>
                            <p class="card-text mb-1 mt-1">By- Godrej Properties</p>
                            <div class="d-flex align-items-center flex-row"> <img src="../../assets/icons/location.png"
                                    width="20"> <span class="guarantee">Gujarat</span> </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="text-right buttons"> <button class="btn btn-dark" routerLink="/login">Book
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card"> <img src="../../assets/cards/card6.jpg" class="card-img-top">
                        <div class="card-body">
                            <div class="d-flex justify-content-between"> <span class="font-weight-bold"> Modular
                                    Living room & dinning facilities with glass windows for top view of building
                                </span> <span class="font-weight-bold">555667</span> </div>
                            <p class="card-text mb-1 mt-1">Luxurious 4BHK with 24*7 hours water and
                                electricity availablity</p>
                            <p class="card-text mb-1 mt-1">By- Maple Tree</p>
                            <div class="d-flex align-items-center flex-row"> <img src="../../assets/icons/location.png"
                                    width="20"> <span class="guarantee">Pune</span> </div>
                        </div>
                        <hr>
                        <div class="card-body">
                            <div class="text-right buttons"> <button class="btn btn-dark" routerLink="/login">Book
                                    Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>